.solid-container-comissions div {
    margin-top: 15px;
    margin-bottom: 20px;
}

hr {
    margin-top: 12px;
}

.solid-container-comissions h3 {
    margin-top: 8px;
}

.text {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
}