body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#002b36, #073642);
    background-attachment: fixed;
}

body * {
    margin: auto;
    max-width: 720px;
    box-sizing: border-box;
}

b {
    text-decoration: underline;
}

hr {
    color: #bd504e;
    margin-bottom: 15px;
    margin-top: 15px;
}

#profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.about {
    text-align: center;
    margin-bottom: 20px;
    color: #ded8be;
}

.about h1 {
    text-align: center;
    margin-bottom: 5px;
}

#contact {
    margin-top: 20px;
    padding: 12px;
    text-align: left;
    border: 2px solid #ca4c16;
    border-radius: 2px;
}

.socials {
    text-align: center;
    margin-bottom: 20px;
}

.socials a {
    padding-left: 4px;
    padding-right: 4px;
}

.socials img {
    width: 30px;
    height: 30px;
}

#about-me p {
    margin-bottom: 12px;
}

.project-showcase {
    display: flex;
    margin-top: 10px;
}

.project-showcase>div {
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .project-showcase {
        display: block;
    }

    .project-showcase>div {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 2px;
    }
}

.project-showcase img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.project-showcase-info {
    vertical-align: top;
    padding: 15px;
    padding-top: 0px;
    margin: 0px;
}

.project-showcase-info p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-showcase-info button {
    background-color: #ca4c16;
    color: white;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    border-radius: 2px;
    border: none;
}

.project-showcase-info button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* KO-FI CONTAINER START */

#ko-fi-button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
    border-radius: 2px;
    outline: #ca4c16 solid 2px;
    text-align: center;
}

#ko-fi-button p {
    margin-top: 20px;
}

/* KO-FI CONTAINER END */

#mailing-list-container {
    background-color: white;
    border-radius: 2px;
}

/* TAB STYLE */
.tab {
    overflow: hidden;
    border-radius: 3px 3px 0px 0px;
    height: 50px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    color: #ded8be;
    font-size: large;
    width: 33.3%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 3px solid #cb4b16;
    opacity: 0.5;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.tab button div {
    filter: grayscale(100%);
}

/* Change background color of buttons on hover */
.tab button:hover {
    opacity: 1;
    background-color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    opacity: 1;
    border: 3px solid #cb4b16;
    border-bottom: none;
}

.tab button.active div {
    filter: grayscale(0%);
    opacity: 1;
}

/* Style the tab content */
.tabcontent {
    background-color: inherit;
    color: #ded8be;
    display: none;
    padding: 6px 12px;
    border: 3px solid #cb4b16;
    border-top: none;
}

/* GALLERY TAB START*/

#gallery img {
    width: 100%;
    margin-top: 3px;
}

/* GALLERY TAB END */